@charset "utf-8";

* {margin:0;padding:0;}
body {color:#666;font:14px/1.5 Nanum Gothic, '나눔고딕', dotum, '돋움', sans-serif;-webkit-text-size-adjust:none;word-break:keep-all;}
h1,h2,h3,h4,h5 {font-size:100%;}
a {color:#666;text-decoration:none;outline:none;}
ul, ol, li {list-style:none;}
table {width:100%;border-collapse:collapse;border:0;}
colgroup {background:none;}
input, select, textarea, button {vertical-align:middle;font:14px/1.5 Nanum Gothic, '나눔고딕', Dotum, '돋움', Sans-serif;}
fieldset, img {border:0;}
img {vertical-align:top;max-width:100%;}
.line {border: 1px solid #E0E0E0;}
label, td img {vertical-align:middle;}
legend, caption {visibility:hidden;width:0;font-size:0;line-height:0;text-indent:-5000px;}
address, em {font-style:normal;}
button {overflow:visible;cursor:pointer;background:none;border:0;}
button:focus {outline:none;}
.hide {visibility:hidden;position:absolute;font-size:0;line-height:0;}

select {height:33px;line-height:33px;padding:0 5px;background:#fdfeff;border:1px solid #cfd6d9;border-radius:1px;}
.select {position:relative;display:inline-block;}
.select label {display:block;}
.select select {position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
textarea {padding:0 5px;background:#fdfeff;border:1px solid #cfd6d9;resize:none;border-radius:1px;}
input.txt {height:31px;line-height:1.1;padding:0 5px;background:#fdfeff;border:1px solid #cfd6d9;border-radius:1px;}
input.chk {width:13px;height:13px;vertical-align:-2px;}
.inputFile {position:relative;display:block;}
.inputFile .txt {width:95%;background:#dde1e3;}
.inputFile .fileBtn {position:absolute;overflow:hidden;top:0;right:0;}
.inputFile .fileBtn input {position:absolute;width:100%;cursor:pointer;font-size:22px;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}

@media all and (max-width:1024px) {
	select,
	input.txt,
	input.chk {-webkit-appearance:none;-moz-appearance:none;box-sizing:border-box;}
	input.txt {height:33px;}
	.inputFile .txt {height:33px;}
	select {padding:0 30px 0 10px;background:#fdfeff url(/images/bg_select.png) no-repeat 100% 50%;background-size:25px;}
	input.chk {border:0;width:18px;height:18px;vertical-align:-5px;}
	input[type='checkbox'] {border:1px solid #325d8c;border-radius:2px;}
	input[type='checkbox']:checked {background:#325d8c url(/images/icon_pack_lukas.png) no-repeat 2px 3px;background-size:250px;}
	input[type='checkbox']:disabled {border:1px solid #a0a0a0;background:#e6e6e6;}
	input[type='radio'] {border:1px solid #325d8c;border-radius:18px;}
	input[type='radio']:checked {background:#325d8c url(/images/icon_pack_lukas.png) no-repeat -21px 4px;background-size:250px;}
	input[type='radio']:disabled {border:1px solid #a0a0a0;background:#e6e6e6;}
}
@media all and (max-width:767px) {
	.input.txt,
	.inputFile .txt,
	select {height:33px;}
}

.skipNavi li {font-size:0;line-height:0;}
.skipNavi li a {position:fixed;top:-100px;left:0;width:100%;padding:10px 0;background:#65b6f5;color:#fff;font-size:14px;line-height:2;text-align:center;z-index:500;}
.skipNavi li a:focus {top:0;} 